body,
.container {
  padding: 0;
  margin: 0;
}

.container {
  height: 40vh;
  min-height: 40vh;
  min-width: 100%;
  background-color: #224596;
  display: flex;
}

.text {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.title {
  font-size: 3em;
  color: white;
  font-weight: 900;
  transition: font-size 0.5s;
  text-align: center;
}

.image {
  position: absolute;
  height: 30vh;
  right: 0;
  transform: translate(-18px, 10vh);
}

.background {
  height: 100%;
}

@media (max-width: 1350px) {
  .image {
    display: none;
  }
}

@media (max-width: 750px) {
  .container {
    min-height: 30vh;
    height: 30vh;
  }

  .text {
    width: 80%;
  }

  .title {
    font-size: 2em;
  }
}
