<div class="container">
    <div class="inner-container">
        <div class="section">
            <span class="bold">Logic jumps is a powerful tool which can be quite overwhelming when just starting out. We are going to introduce you to this topic using a few simple example. </span>
        </div>

        <div class="section">
            <span class="bold">example 1</span>
        </div>

        <div class="section">To add <span class="bold">Logic jumps</span> you should now how to create a form with Feedback Analytics.
            If you dont know yet how to do this, <a href="/help-center/getting-started/my-first-form" target="_blank">read this first.</a>
        </div>

        <div class="section">Create a new form and add 3 questions to it. A yes/no, an open and another yes/no -question respectively.
        </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/logicjumpexample/example1.JPG"></div></div>

        <div class="section">If someone fills in that they like dogs, the form should go to the second question. However, if they dont like it, the form should jump directly to the 3rd question.
            Go to the first question in the builder and <span class="bold">click Add Logic Jump.</span>
        </div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/logicjumpexample/addjump.JPG"></div></div>

        <div class="section"> If the first answer is a yes, we want to go from question 1 to 2. Questions <span class="bold">always</span> automatically go to the next question on the list,
            so we dont need to change anything for this behaviour.
            When the answer is no, the form should jump to question 3. So we change the logic to "<span class="bold">IF</span> Do you like dogs? is NO, <span class="bold">THEN</span> "Do you like cats?"
        </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/logicjumpexample/logic1.JPG"></div></div>

        <div class="section">
            <span class="bold">example 2</span>
        </div>

        <div class="section">
            <span>We are going to create a form with a multiple choice question. For each of the possible choices, the form jumps to another end screen.
                If you don't know how to create different end screens, <a href="/help-center/questions/end-screen" target="_blank">read this short tutorial.</a></span>
        </div>

        <div class="section">
            <span>Create a form with a single Multiple Choice question </span>
        </div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/logicjumpexample/example2.JPG"></div></div>

        <div class="section">
            <span>Now create 3 different end screens. For each selected answer we are going to a different end screen.  </span>
        </div>

        <div class="section">
            <span>Click Add Logic Jump and fill in the following values "<span class="bold">if</span> the multiple choice <span class="bold">IS</span> choice 1 <span class="bold">THEN</span> go to end screen 1" </span>
        </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/logicjumpexample/logic2.JPG"></div></div>

        <div class="section">
            <span>Click on the green <span class="bold bigger">+</span> below the logic jump and do the same for end screen 2 and 3.</span>
        </div>

        <div class="section">
            <span class="bold">example 3</span>
        </div>

        <div class="section">
            <span>We are going to create a form which looks at multiple answers to decide on a jump. Create a form with 2 yes/no questions and a single rating question respectively.</span>
        </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/logicjumpexample/example3.JPG"></div></div>

        <div class="section">
            <span>Click on the latest question that has a input on the jump decision. In this case that's the second yes/no question. Subsequently add a logic jump.</span>
        </div>

        <div class="section">
            <span>Without any logic the form always goes to the rating question, however in this case we dont want the rating if the customer was negative about any of the experiences.</span>
        </div>

        <div class="section">
            <span>This translates to <span class="bold">IF</span> question 1 is negative <span class="bold">OR IF</span> question 2 is negative <span class="bold">THEN</span> go to the end screen.</span>
        </div>

        <div class="section"><div class="bigImage"><img src="/assets/img/help-center/logicjumpexample/logic3.JPG"></div></div>


    </div>
</div>
