<app-header [title]="'Privacy policy'"></app-header>
<div class="container">
    <div class="inner-container">

        <div class="bold title">Privacy Policy</div>

        <div class="section">Feedback-Analytics B.V. respects the privacy of its website visitors (the “<span class="bold">Users</span>”), in particular their rights regarding the automatic processing of personal data. We have therefore formulated and implemented a policy on complete transparency with our customers regarding the processing of personal data, its purpose(s) and the possibilities to exercise your legal rights in the best possible way.</div>

        <div class="section">If you require any additional information about the protection of personal data, please visit the website of the Dutch Data Protection Authority: https://autoriteitpersoonsgegevens.nl/en.</div>

        <div class="section">Until you accept the use of cookies and other tracking devices, we will not place any non-anonymised analytical cookies and / or tracking cookies on your computer, mobile phone or tablet.
       With the continued visit of this website you accept these terms of use and you accept the use of cookies and other tracking systems, unless we have provided for another method of accepting cookies on our website.
         </div>

        <div class="section">The current available version of this privacy policy is the only version that applies while visiting our website until a new version replaces the current version.</div>

        <div class="section bold">ARTICLE-I Definitions</div>

        <div class="section">1. Website (hereinafter: "Website") www.feedback-analytics.com.</div>

        <div class="section">2. Party responsible for processing personal data (hereinafter: "the Controller"): Feedback-analytics B.V, established at Martinus Nijhoffweg 1, 2548 ER Den Haag, The Netherlands, Chamber of Commerce number: 69424810.</div>

        <div class="section">3. Data Subject (hereinafter: “Data Subject”) any personal data and information relating to an identified or identifiable natural person. An identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.
        </div>

        <div class="section">4. Software (hereinafter: “Software”) any products, services or packages offered by the Controller. </div>

        <div class="section bold">ARTICLE-II Access to the Website</div>

        <div class="section">Access to and use of the website are strictly personal. You will refrain from using the data and information of this Website for your own commercial, political or advertising purposes, as well as for any commercial offers, in particular unsolicited electronic offers. Unless you signed a Software contract with the Controller and use provided products & services for your commercial purposes in line with our Terms & Conditions.
        </div>

        <div class="section">As you interact with us, we will collect your information in several ways. Often you will provide this information directly to us, but in other cases it might be collected automatically through technical means such as Cookies.</div>

        <div class="section">If you contact us through our website, by email, by social media or purchase items from our store, we will collect the following information in order to provide the contract to you and respond to any queries:</div>

        <div class="section">Your name. <br> Your postal address. <br> Your email address. <br> Order details. <br> Financial or payment information such as your card or bank details if a purchase has been made.</div>

        <div class="section">We collect the following information about you automatically, through technical means such as Cookies, when you browse our store:</div>

        <div class="section">Internet protocol (IP) address. <br>
            Country geo-location using IP address. <br>
            Browsing data linked to Google Analytics.
        </div>

        <div class="section">We will use the information we collect about you in a variety of ways. For example, we will use it to fulfil your orders, to analyse and improve how our business and websites work, and, where we have your consent, to provide you marketing updates. We will never sell your information to any third party, and we only use your information when we have a lawful basis for doing so.</div>

        <div class="section">To fulfil our obligations to you or enable us to enter a contract:
        </div>

        <div class="section">We will collect your personal details, contact information and address so that we can process and fulfil your orders.</div>

        <div class="section">Where we have your consent:</div>

        <div class="section">We will periodically send emails to the address you provide so that you can find out more about our store, new products and other updates. If you want to withdraw this consent you can do so at any time.</div>

        <div class="section">Where we have a legal obligation to do so:</div>

        <div class="section">We are required to keep certain financial records for financial reporting and accounting purposes.</div>

        <div class="section">Where we have a legitimate interest in using your information (and this information is not overridden by your own rights as an individual):</div>

        <div class="section">We will use the information automatically collected about you through technical means such as Cookies to analyse how visitors use our website so that we can understand how visitors engage with We and improve how our website works.
            <br>We also keep a record of transactions and correspond so that we can bring claims or defend ourselves in the event of a legal claim or complaint.
        </div>

        <div class="section">You can find out more about how our interests are balanced with your own rights and interests by getting in contact with us using the details set out below.</div>

        <div class="section">To protect your personal information, we take put in place appropriate technological and organizational measures and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. </div>

        <div class="section bold">ARTICLE-III Website content</div>

        <div class="section">All brands, images, texts, comments, illustrations (animated) images, video images, sounds and all the technical applications that can be used to operate this Website and more generally all the components used on this Website, are protected by the laws on intellectual property. Any reproduction, repetition, use or modification, by any means whatsoever, of all or just part of it, including technical applications, without the prior written permission of the Controller, is strictly prohibited. The fact that the Controller may not take immediate action against any infringement, cannot be considered as a tacit consent, nor of a waiver of any right to prosecute the infringing party.</div>

        <div class="section bold">ARTICLE-IV Management of the Website</div>

        <div class="section">For the purpose of proper management of the site, the Controller may at any time:</div>

        <div class="section">Suspend, interrupt, reduce or decline the access to the Website for a particular category of visitors.<br>
            Delete all information that may disrupt the functioning of the Website or conflicts with national or international laws or is contrary to internet etiquette.<br>
            Make the Website temporarily unavailable in order to perform updates.<br>
            The data of the user is maintained with due care and diligence and with optimum care, and nothing has been left unattended.<br>
            The data is stored for a certain period of time and can be deleted on the request of the user.
        </div>

        <div class="section bold">ARTICLE-V Responsibilities</div>

        <div class="section">1. The Controller is not liable for any failure, disturbances, difficulties or interruptions in the functioning of the Website, causing the (temporary) inaccessibility of the Website or of any of its functionalities. You, yourself, are responsible for the way you seek connection to our Website. You need to take all appropriate steps to protect your equipment and data against hazards such as virus attacks on the internet. Furthermore, you are responsible for which websites you visit and what information you seek.</div>

         <div class="section">2. The Controller is not liable for any legal proceedings taken against you:</div>

        <div class="section">Because of the use of the Website or services accessible via the Internet. <br>
            For violating the terms of this Privacy Policy.
        </div>

        <div class="section">3. The Controller is not liable for any damages that incur to you or third parties or your equipment, as a result of your connection to or use of the Website and you will refrain from any subsequent (legal) action against the Controller.</div>

        <div class="section">If the Controller is involved in a dispute because of your (ab)use of this Website, he is entitled to (re)claim all subsequent damages from you.</div>

        <div class="section bold">ARTICLE-VI Collection of data</div>

        <div class="section">1. Your personal data will be collected by Feedback-analytics B.V and (an) external processor(s). </div>
        <div class="section">2. The personal data that are collected on the Website are used mainly by the Controller in order to maintain a (commercial) relationship with you and if applicable in order to process your orders. They are recorded in an (electronic) register. </div>

    <div class="section bold">ARTICLE-VII Your rights regarding information</div>

        <div class="section">1. Pursuant to Article 13 paragraph 2(b) GDPR each Data Subject has the right to information on and access to, and rectification, erasure and restriction of processing of his personal data, as well as the right to object to the processing and the right to data portability. </div>
        <div class="section">2. You can exercise these rights by contacting us at info@feedback-analytics.com.</div>
        <div class="section">3. Each request must be accompanied by a copy of a valid ID, on which you put your signature and state the address where we can contact you. </div>
        <div class="section">4. Within one month of the submitted request, you will receive an answer from us. </div>
        <div class="section">5. Depending on the complexity and the number of the requests this period may be extended to two months.</div>


        <div class="sectiond bold">ARTICLE-VIII Legal obligations</div>
        <div class="section">1. In case of infringement of any law or regulation, of which a visitor is suspected and for which the authorities require the personal data collected by the Controller, they will be provided to them after an explicit and reasoned request of those authorities, after which these personal data do not fall anymore under the protection of the provisions of this Privacy Policy.</div>
        <div class="section">2. If any information is necessary in order to obtain access to certain features of the Website, the Controller will indicate the mandatory nature of this information when requesting these data.</div>


        <div class="section bold">ARTICLE-IX Collected data and commercial offers</div>
        <div class="section">1. You may receive commercial offers from the Controller. If you do not wish to receive them (anymore), please send us an email to the following address: info@feedback-analytics.com.</div>
        <div class="section">2. Your personal data will not be used by our partners for commercial purposes.   </div>
        <div class="section">3. If you encounter any personal data from other data subjects while visiting our Website, you are to refrain from collection, any unauthorized use or any other act that constitutes an infringement of the privacy of the Data Subject(s) in question. The Controller is not responsible in these circumstances.</div>

        <div class="section bold">ARTICLE-X Data retention</div>
        <div class="section">The collected data are used and retained for the duration of 2 years or shall be kept for no longer than is necessary for the purposes for which it is being processed or only for as long as is reasonably necessary for the purposes set out in this Statement and to fulfil our legal obligations. Where you are a customer this is usually at least for as long as you remain a customer, to be able meet our legal and contractual obligations to you, and if necessary, to resolve any disputes.</div>
        <div class="section">We only retain your information for as long as is necessary for us to use your information as described above or to comply with our legal obligations. However, please be advised that we may retain some of your information after you cease to use our services, for instance if this is necessary to meet our legal obligations, such as retaining the information for tax and accounting purposes.</div>
        <div class="section">When determining the relevant retention periods, we will take into account factors including:
        </div>
        <div class="section tab">our contractual obligations and rights in relation to the information involved; <br>
            legal obligation(s) under applicable law to retain data for a certain period of time; <br>
            statute of limitations under applicable law(s); <br>
            (potential) disputes; and <br>
            guidelines issued by relevant data protection authorities.
        </div>
        <div class="section">Otherwise, we securely erase your information once this is no longer needed.
        </div>
        <div class="section">For further information on how long your information shall be retained by us, please get in touch with us using the details set out below.</div>

        <div class="section bold">ARTICLE-XI Cookies</div>
        <div class="section">1. A cookie is a small text file placed on the hard drive of your electronic device upon visiting our Website. A cookie contains data so you can be recognized as a visitor when you are visiting our Website. It enables us to adjust to your needs and it facilitates you to log in on our Website. When you visit our Website, we inform you about the use of cookies. By continuing to use our Website you accept its use, unless we ask permission by other means.</div>
        <div class="section">2. When you visit our Website, cookies from the Controller and / or third parties may be installed on your device. For more information, see our Cookies Policy: <a href="https://feedback-analytics.com/cookies-policy" target="_blank">https://feedback-analytics.com/cookies-policy</a></div>
        <div class="section">3. For more information about using, managing and disabling cookies for each electronic device, we invite you to consult the following link:  https://www.cookieconsent.com/what-are-cookies/</div>

        <div class="section bold">ARTICLE-XII Imagery and products offered</div>
        <div class="section">You cannot derive any rights from the imagery that accompanies any offered product on our Website.</div>

        <div class="section bold">ARTICLE-XIII Applicable law</div>
        <div class="section">These conditions are governed by Dutch law. The court in the district where the Controller has its place of business has the sole jurisdiction if any dispute regarding these conditions may arise, save when a legal exception applies.</div>

        <div class="section bold">ARTICLE-XIV Your rights</div>
        <div class="section">Subject to certain conditions, you will, by law, be able to exercise certain rights in respect of your information. Further information about your rights can be obtained from your national data protection authority – which in the UK is the Information Commissioner’s Office. You can exercise these rights by contacting us using the details set out below. In almost all circumstances these rights will be free to exercise, although if requests are made on a repeated or manifestly unfounded basis we may charge a reasonable administrative fee.</div>
        <div class="section">The right to be informed. You have the right to be provided with clear, transparent and easily understandable information about how we use your information and your rights. This is why we’re providing you with the information in this Statement.</div>
        <div class="section">The right of access. You have the right to obtain access to your information (if we’re processing it), and certain other information (similar to that provided in this Statement).</div>
        <div class="section">The right to rectification. You are entitled to have your information corrected if it is inaccurate or incomplete. You can request that we rectify any errors in information that we hold by getting in contact with us.</div>
        <div class="section">The right to erasure. This is also known as ‘the right to be forgotten’ and, in simple terms, enables you to request the deletion or removal of your information that we hold.</div>
        <div class="section">The right to object to processing. You have the right to object to certain types of processing, and you can exercise this right by contacting us using the details set out below.</div>
        <div class="section">The right to restrict processing. You have the right to ‘block’ or suppress further use of your information. When processing is restricted, we can still store your information, but will not use it further.</div>
        <div class="section">The right to data portability. You have rights to obtain and reuse your information for your own purposes across different services. If this right is applicable, we will provide you with an accessible copy of your information so that you can use a similar service elsewhere.</div>
        <div class="section">The right to lodge a complaint. You have the right to lodge a complaint about the way we handle or process your information with your national data protection regulator.</div>
        <div class="section">The right to withdraw consent. If we rely on your consent as our lawful basis for processing your information, you may withdraw your consent at any time. However, doing so will not make unlawful the actions we have taken with your personal data while we had your active consent. You can withdraw your consent to the processing of your information at any time by contacting us using the contact details set out below.</div>

        <div class="section bold">Contact</div>
        <div class="section">For questions, product information or information about the Website or Software itself, please contact us at: info@feedback-analytics.com</div>

    </div>
</div>
