<section class="header">
    <div class="headerText">
        <span class="solutions">Solutions</span>
    </div>
    <div class="images">
        <img class="graph" src="/assets/img/solutions/backgroundbackground.png" alt="login" />
        <div class="center">
            <img class="background" src="/assets/img/solutions/solutionsbackground.png" alt="login" />
        </div>
    </div>
</section>

<section class="title">
    <div class="titlebox">
        <span class="titleText">Easy process to collect feedback everyday</span>
    </div>
</section>

<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">question_answer</mat-icon>
                Builder
        </ng-template>
        <div class="container">
            <div class="text">
                <span class="solutionTitle">Builder</span>
                <span class="solutionText">{{builderText}}</span>
                <span class="solutionText">{{builderText2}}</span>
            </div>
            <div class="imageholder">
                <img class="image" src="/assets/img/solutions/builder_laptop.png" alt="builder" />
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">design_services</mat-icon>
                Design
        </ng-template>
        <div class="container">
            <div class="text">
                <span class="solutionTitle">Design</span>
                <span class="solutionText">{{designText}}</span>
            </div>
            <div class="imageholder">
                <img class="image" src="/assets/img/solutions/design_page.png" alt="builder" />
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">bar_chart</mat-icon>
                Analytics
        </ng-template>
        <div class="container">
            <div class="text">
                <span class="solutionTitle">Analytics</span>
                <span class="solutionText">{{analyticsText}}</span>
                <span class="solutionText">{{analyticsText2}}</span>
                <span class="solutionText">{{analyticsText3}}</span>
            </div>
            <div class="imageholder">
                <img class="image" src="/assets/img/solutions/analytics.png" alt="builder" />
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">filter_alt</mat-icon>
            Optimised for conversation rate
        </ng-template>
        <div class="container">
            <div class="text">
                <span class="solutionTitle">Optimised for conversation rate</span>
                <span class="solutionText">{{optimiseText}}</span>
            </div>
            <div class="imageholder">
                <img class="image" src="/assets/img/solutions/questions.png" alt="builder" />
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">grade</mat-icon>
            Reviews on google
        </ng-template>
        <div class="container">
            <div class="text">
                <span class="solutionTitle">Reviews on google</span>
                <span class="solutionText">{{reviewText}}</span>
            </div>
            <div class="imageholder">
                <img class="image" src="/assets/img/solutions/review.png" alt="builder" />
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<app-get-started></app-get-started>






