<div class="container">
    <div class="inner-container">
        <div class="section">
            <span class="bold">Logic Jumps are what makes a form powerful. It allow you to create complex
                structures within the form. In this way, consumers only see the questions relevant to them, which saves a lot of time. It's like guiding your consumers through the form.</span>
        </div>

        <div class="section">
            <span class="bold">
        The Feedback Analytics Logic Jumps are advanced. This opens the possibility for some extra things, such as cross selling and customer segmentation.
            </span>
        </div>

        <div class="section">A Logic Jump is comparable with the branch of a tree. The three is a question, and could have multiple branches.
            Depending on the choice someone makes on question A, this person will either go to question B or C.
            If you have a Multiple Choice question, with 4 different answers, it's possible to give each answer another branch.</div>

        <div class="section"><div class="bigImage"><img src="/assets/img/help-center/logic-jumps/example1.png"></div></div>

        <div class="section">Different question branches can meet each other again at another question. To visualise this you could think of two rivers meeting and fusing together, forming a single channel.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/logic-jumps/intersection.png"></div></div>

        <div class="section">But this isn't necessary, it's also possible to give each route a different ending. <a href="/help-center/questions/end-screen" target="_blank">Read this about end screens</a> </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/logic-jumps/different.png"></div></div>


        <div class="section">To add <span class="bold">Logic Jumps</span> to a question, you should already know how to create a form with Feedback Analytics.
            If you dont have this knowledge yet, <a href="/help-center/getting-started/my-first-form" target="_blank">reading up could help.</a>  </div>

        <div class="section">It's also possible to <span class="bold">look back at more than one answer</span> filled in by the consumer, which makes logic jumps extremely powerful.
            When a person fills in a series of questions the system can look back at all those answers and select the corresponding route to take in the form.
        </div>


        <div class="section">
            The Logic Jumps by Feedback Analytics make use of <span class="bold">boolean logic</span>, which is a mathematical language, really close to the english language.</div>

        <div class="section"><a href="/help-center/logic/boolean-logic" target="_blank">Crash course on boolean logic</a></div>
        <div class="section"><a href="/help-center/getting-started/my-first-form" target="_blank">Logic Jump example</a></div>



    </div>
</div>
