
<mat-card class="container">
  <h4 mat-subheader>General</h4>
  <div class="general-row" fxLayout="row" fxLayoutGap="16px">
      <mat-form-field>
        <input matInput placeholder="First Name" (input)="namesEdited=true" [(ngModel)]="user.firstName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" (input)="namesEdited=true" [(ngModel)]="user.lastName">
      </mat-form-field>

      <button fxFlex="16" mat-stroked-button [disabled]="!namesEdited" (click)="saveNames()">Save</button>
  </div>

  <div class="general-row">
      <mat-form-field>
        <input matInput readonly placeholder="Email" [value]="user.email">
      </mat-form-field>
  </div>
  <mat-divider></mat-divider>

  <h4 mat-subheader>Company Details</h4>
  <div class="general-row" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="16px">
      <mat-form-field>
        <input matInput placeholder="Company Name" (input)="companyEdited=true" [(ngModel)]="company.name">
      </mat-form-field>
      <button fxFlex="16" mat-stroked-button [disabled]="!companyEdited" (click)="saveCompanyName()">Save</button>
    </div>
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
      <div fxLayout="column">
        <p class="my-mat-hint">Share Link</p>
        <p>
          <a href="/dash/settings" target="_blank" (click)="disable($event)" >{{prefix}}<b>{{this.company.link || "not set yet"}}</b>{{this.suffix}}</a>
        </p>
      </div>
      <button fxFlex="16" mat-stroked-button color="primary" class="my-button-link" (click)="changeCompanyLink()">Change</button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <ng-container *ngIf="users">
    <h4 mat-subheader>Users</h4>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Rights </th>
          <td mat-cell *matCellDef="let user"> {{user.role}} </td>
        </ng-container>

        <ng-container matColumnDef="verify">
            <th mat-header-cell *matHeaderCellDef> Verification </th>
            <td mat-cell *matCellDef="let user">
                <button *ngIf="!user.verified" mat-raised-button color="primary" (click)="verifyUser(user)">Verify</button>
                <span *ngIf="user.verified">verified</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th class="action-row mat-light-theme-green" mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="addUser()"><mat-icon>add</mat-icon></button>
            </th>
            <td class="action-row" mat-cell *matCellDef="let user">
              <button mat-icon-button color="primary" (click)="editUser(user)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deleteUser(user)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="table-description">
        <span class="description">
            <mat-icon color="primary">info</mat-icon>
            By clicking on the verify button you send a verification email to your teammate.
        </span>
    </div>
    <mat-divider></mat-divider>
  </ng-container>

  <h4 mat-subheader>Dangerous</h4>
  <div class="general-row">
      <button mat-flat-button color="primary" (click)="changePassword()">Change Password</button>
      <button mat-flat-button color="warn" (click)="deleteUser(user)">Delete Account</button>
  </div>
</mat-card>
