mat-expansion-panel {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

mat-divider {
  position: relative !important;
}

.my-mat-hint {
  line-height: 1.2em;
  transform: translateY(10px);
  font-size: 75%;
}


.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60%;
  max-width: 1000px;
  min-width: 512px;
  margin: 16px auto;
}

table {
  width: 90%;
  margin-bottom: 16px;
}

th.mat-header-cell:last-child {
  text-align: center;
}

.action-row {
  width: 104px;
}

.general-row {
  display: flex;
  width: 90%;
  * {
    flex-grow: 1;
  }

  button:nth-last-child(2) {
    margin-left: 16px;
    margin-right: 16px;
  }

  button {
    height: 39px;
  }
}

.table-description {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;

  .description {
    display: flex;
    align-items: center;

    mat-icon {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
  }
}
