<app-header [title]="'Cookies policy'"></app-header>
<div class="container">
    <div class="inner-container">
        <div class="bold title">Cookies Policy Feedback-Analytics B.V.</div>

        <div class="section">
            This is the Cookies Policy for Feedback-Analytics B.V., accessible from <a href="https://feedback-analytics.com/cookies-policy" target="_blank">https://feedback-analytics.com/cookies-policy</a>. This policy is part and parcel of the site and shall be read in relation to the other documents of the site including the privacy policy and terms and conditions of the website. The user after reading this would be considered to have assented to what has been written in this Cookies Policy (the “<span class="bold">Policy</span>”). Everything has been written in this Policy and nothing has been concealed herein.
        </div>

        <div class="section bold">What Are Cookies </div>

        <div class="section">As is common practice with almost all professional websites, this site uses cookies. Which are tiny files that are downloaded to user (the “User” or “Your”) computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored, however, this may downgrade or 'break' certain elements of the sites functionality. Our cookies cannot execute code, do not contain malware or viruses, and cannot be used to access content on your computer.</div>

        <div class="section bold">How We Use Cookies </div>

        <div class="section">We use cookies for a variety of reasons detailed below. Unfortunately, in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to the website. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use. </div>

        <div class="section bold">Disabling Cookies </div>

        <div class="section">You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of this site. Therefore, it is recommended that you do not disable cookies.</div>

        <div class="section bold">The Cookies We May Use</div>

        <div class="tab section bold ">Login related cookies</div>

        <div class="tab section">We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log in every single time you visit a new page. These cookies are typically removed or cleared when you log out to ensure that you can only access restricted features and areas when logged in.</div>

        <div class="tab section bold">Email newsletters related cookies</div>

        <div class="tab section">This site offers newsletter or email subscription services and cookies may be used to remember if you are already registered and whether to show certain notifications which might only be valid to subscribed/unsubscribed users.</div>

        <div class="tab section bold">Surveys related cookies
        </div>

        <div class="tab section">From time to time we offer user surveys and questionnaires to provide you with interesting insights, helpful tools, or to understand our user base more accurately. These surveys may use cookies to remember who has already taken part in a survey or to provide you with accurate results after you change pages.</div>

        <div class="tab section bold">Forms related cookies</div>

        <div class="tab section">When you submit data to through a form such as those found on contact pages or comment forms cookies may be set to remember your user details for future correspondence.</div>

        <div class="tab section bold">Site preferences cookies</div>

        <div class="tab section">In order to provide you with a great experience on this site we provide the functionality to set your preferences for how this site runs when you use it. In order to remember your preferences, we need to set cookies so that this information can be called whenever you interact with a page is affected by your preferences.</div>

        <div class="section bold">Third Party Cookies </div>

        <div class="section">In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.</div>

        <div class="tab section">This site uses Google Analytics. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</div>

        <div class="tab section">From time to time we test new features and make (subtle) changes to the way that the site is delivered. When we are still testing new features these cookies may be used to ensure that you receive a consistent experience whilst on the site. Ensuring we understand which optimizations our users appreciate the most.</div>

        <div class="tab section">As we sell products it's important for us to understand statistics about how many of the visitors to our site actually make a purchase and as such this is the kind of data that these cookies will track. This is important to you as it means that we can accurately make business predictions that allow us to monitor our advertising and product costs to ensure the best possible price.</div>

        <div class="tab section">We also use social media buttons and/or plugins on this site that allow you to connect with your social network in various ways. For these to work the following social media sites including but not limited to; (Facebook, LinkedIn, YouTube) will set cookies through our site which may be used to enhance your profile on their site or contribute to the data they hold for various purposes outlined in their respective privacy policies.</div>

        <div class="section">As has been discussed above, it is total discretion of the user of the site, to disallow or allow the use of the cookies, the recommendations above given is just for the sake of the information and are not binding on the user. User can follow these suggestions and can also reject them. Nothing can be claimed against the site for anything that has been discussed above. The user has been given an option to choose and if he chooses to continue with the use of the cookies it would be a express content from the user for allowing the use of the cookies. Nothing has been concealed herein and everything has been described to the user. </div>

        <div class="section bold">More Information
        </div>

        <div class="section">Hopefully that has clarified things for you, however, if you are still looking for more information than you can contact us through one of our preferred contact methods:</div>

        <div class="section">Email: info@feedback-analytics.com</div>

    </div>
</div>
