<div class="container">
    <div class="inner-container">
        <div class="section">
            <span class="bold">Starting your Feedback Analytics forms off with a welcome screen is a great start. Introduce people to your form and what they can expect.</span>
        </div>

        <div class="section">To add a welcome screen to any form, open the <span class="bold">Start Screen</span> tab. A button to enable the Start Screen should appear. Click on this button. </div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/welcomescreen/tab.JPG"></div></div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/welcomescreen/button.JPG"></div></div>

        <div class="section">Fill in the title and the text you want to display, for the users to read. The Start Screen automatically saves, so you can move out of this screen whenever you want.
        Don't forget to test your form before publishing it.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/welcomescreen/example.JPG"></div></div>

        <div class="section">Click on the Disable Start Screen button if you decide to not have any start screen at all.</div>

    </div>
</div>
