<div class="pageHeight" (keydown.enter)="sendEmail()">

	<Section class="background">
		<img class="background_img" src="/assets/img/login/login_bg.png" alt="background" />
	</Section>
	<section class="content">
		<div class="form">
			<div class="logo">
				<img class="logoImage" alt="logo" src="assets/img/Logo.png">
			</div>
			<span class="welcome">Send password reset email!</span>
			<!--     form-->
			<form>
				<mat-form-field>
					<mat-label>Email address</mat-label>
					<input matInput type="email" [formControl]="email" name="email" required>
					<mat-error *ngIf="email.errors && email.errors.required">Email is <b>required</b></mat-error>
					<mat-error *ngIf="email.errors && !email.errors.required && email.errors.email">Please enter a <b>valid email</b></mat-error>
				</mat-form-field>

				<!--         other text and buttons-->
				<button mat-raised-button id="reset" (click)="sendEmail()" [disabled]="!email.valid">Send</button>
			</form>
			<br>
		</div>
		<div class="image">
			<img class="background_img2" src="/assets/img/login/login_image.png" alt="login" />
			<span class="collect">Collect feedback every day</span>
		</div>
	</section>
</div>



