<div class="container">
    <div class="inner-container">
        <div class="section">
            <span class="bold">It's possible to add multiple profiles to your Feedback Analytics account. Each profile with their own login credentials.
                The amount of profiles that can be active at the same time is dependent on your subscription.</span>
        </div>

        <div class="section">
            Log in to your Feedback Analytics account and navigate to the settings page. <a href="/help-center/getting-started/create-account" target="_blank">Click here if you dont have a account yet.</a>
        </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/addprofile/settings.JPG"></div></div>

        <div class="section">
            Scroll down to the <span class="bold">Users</span> section. This is the place where all profiles are managed. Some of the possibilities are adding new profiles, changing user rights, and deleting existing profiles.
        </div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/addprofile/profiles.png"></div></div>

        <div class="section">
            To <span class="bold">edit a profile</span> click on the pen symbol on the right. It's possible to change the first name, last name and the profile rights.
            The different profile rights are admin, readwrite, readonly and none.
        </div>

        <div class="section">
            <span class="bold">None</span> means that a user has zero rights. This person isn't allowed to log in. Ideal if you have more colleagues as allowed active spots in your Feedback analytics account.
            If you have 5 colleagues, but are limited to  3 active accounts, 2 accounts should be put on none. If you want to give another person editing rights, you should first put someone else on none, before giving this person extra rights.
        </div>

        <div class="section"><div class="bigImage"><img src="/assets/img/help-center/addprofile/edit.JPG"></div></div>


        <div class="section">
            <span class="bold">Read</span> has the rights and is limited to reading and testing forms.
        </div>

        <div class="section">
            <span class="bold">Readwrite</span> has the rights to read and edit forms. However this person can not publish forms.
        </div>

        <div class="section">
            The <span class="bold">admin</span> can do everything. Publishing forms and also editing user rights. Even deleting other admins is added to the toolkit.
        </div>

        <div class="section">
            To <span class="bold">delete a user</span> click on the red thrash can on the right. A confirmation window will appear, press the delete button to proceed.
        </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/addprofile/delete.JPG"></div></div>

        <div class="section">
            To add a new user click on the green <span class="bold bigger">+</span> symbol.  A pop up window will appear. Fill in de details and click on done. The user is automatically added to the list.
            Most of the times the new user can log in immediately, but it's possible this process takes up to 24 hours. If logging in is still not possible after 24 hours please contact the
            <a href="/contact" target="_blank">support center.</a>
        </div>

    </div>
</div>
