<div class="container">
    <div class="inner-container">

        <div class="section">
        <span class="bold">It's possible to end a Feedback Analytics form with an End Screen. This way people don't get an abrupt ending and you get the possibility to thank them.</span>
        </div>

        <div class="section">To add an End Screen to any form, open the <span class="bold">End Screen</span> tab. A button to enable the End Screen should appear. Click on this button. </div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/endscreen/tab.JPG"></div></div>
        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/endscreen/button.JPG"></div></div>

        <div class="section">Fill in the title and the text you want to display, for the users to read. The End Screen automatically saves, so you can move out of this screen whenever you want.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/endscreen/endscreen1.JPG"></div></div>

        <div class="section">It's possible to add <span class="bold">redirect links</span> to the end screen. Great for redirecting people to a review site or your own website. At the bottom there is a slide toggle with the text links,
            activate this to add a link to your end screen. The text filled in after button will be displayed in a button to the user. When people click on that button people will be redirected to the assigned URL link.</div>

        <div class="section"><div class="bigImage"><img src="/assets/img/help-center/endscreen/link.JPG"></div></div>

        <div class="section">It's possible that you want <span class="bold">multiple End Screens</span> for different outcomes within the form. At the bottom of the screen click add. This creates a new tab,
        which works exactly the same as the first one. To use it in the form, make use of logic jumps in the form builder.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/endscreen/differentscreen.JPG"></div></div>

        <div class="section">By clicking Delete you can <span class="bold">remove individual End Screens</span> and by clicking the <span class="bold">Disable End Screen</span> button you can disable the end screen function as a whole.
            Everything you filled in will be remembered for if you decide to add the End Screen in a later stadium.</div>

    </div>
</div>
