<section class="header">
    <div class="headerImage">
        <img class="img" src="/assets/img/contact2/contact_header_image.png" alt="Contact" />
    </div>
</section>

<section class="section2">
    <div class="headerText">
        <span class="title">Get in touch!</span>
        <span class="subTitle">
            Our support team is happy to help with any Feedback Analytics
            related questions and problems
        </span>
    </div>
    <div class="cards">
        <mat-card class="background">
            <mat-card-title>
                <img class="icon_title" src="/assets/img/contact2/support_icon.png" alt="Support icon" />
            </mat-card-title>
            <mat-card-subtitle>Support</mat-card-subtitle>
            <mat-card-content>
                <button mat-icon-button class="blue"><mat-icon><a href="tel:+31702171761">call</a></mat-icon></button>
                <span>+31 (0)70 217 17 61</span>
                <br>
                <button mat-icon-button class="blue"><mat-icon><a HREF="mailto:info@feedback-analytics.com">mail</a></mat-icon></button>
                <span >info@feedback-analytics.com</span>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>
                <img class="icon_title" src="/assets/img/contact2/location_icon.png" alt="Location icon" />
            </mat-card-title>
            <mat-card-subtitle>Office</mat-card-subtitle>
            <mat-card-content>
                <button mat-icon-button class="blue">
                    <mat-icon>
                        <a href="https://www.google.com/maps/place/Feedback-Analytics+%7C+Surveys+%7C+Reviews+%7C+Analytics/@52.0371852,4.2776908,17z" target="_blank">
                            location_on
                        </a>
                    </mat-icon>
                </button>
                <span>Martinus nijhoffweg 1</span>
                <br>
                <button mat-icon-button class="white"><mat-icon>location_on</mat-icon></button>
                <span>2548 ER Den Haag</span>
                <br>
                <button mat-icon-button class="white"><mat-icon>location_on</mat-icon></button>
                <span>Netherlands</span>
            </mat-card-content>
        </mat-card>
    </div>
</section>





