<div class="container">
    <div class="inner-container">
        <div class="section">
            <span class="bold">Boolean logic is a form of algebra that is centered around three simple words: "Or", "And" and "Not". A basic understanding of this logic, makes using the logic jumps a lot easier.</span>
        </div>

        <div class="section">A boolean statement is always either true or false, there is no in between.
            With logic jumps we want a question to jump to a certain question if the boolean statement returns true, and to another question if it returns false.</div>

        <div class="section">
            <span><span class="bold">"OR"</span> is used to express that as long as one of the multiple conditions is met, the value of the boolean statement is true.</span>
        </div>
        <div class="section">
            <span>Example: If we have either apples <span class="bold">OR</span> cherries we could make a pie.</span>
        </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/boolean/or.JPG"></div></div>


        <div class="section">
            <span><span class="bold">"AND"</span> is used to indicate that all the multiple conditions must be met. If all the conditions are true, our boolean statement returns true, else it returns false.</span>
        </div>
        <div class="section">
            <span>Example: If I have a computer <span class="bold">AND</span> an internet connection then I can do some work.</span>
        </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/boolean/and.JPG"></div></div>


        <div class="section">
            <span><span class="bold">"NOT"</span> is used to show that a certain condition should be excluded. If this certain condition is excluded, the boolean statement returns true, else it returns false.</span>
        </div>
        <div class="section">
            <span>Example: If you're <span class="bold">NOT</span> younger than 16, you can watch this movie.</span>
        </div>
        <div class="section"><div class="image"><img src="/assets/img/help-center/boolean/not.JPG"></div></div>

    </div>
</div>
