<div class='background'>
  <div class='content'>
    <img src='assets/img/thank-you/haunted.png'>
    <div class='button-div'>
      <span>Give us your opinion and</span>
      <a routerLink='/iframe'>
        <button mat-button>Win a free skin!</button>
      </a>
    </div>
    <div class='text-div'>
      By checking the box, you agree to <span class='terms'>Sprint Terms and Conditions</span> and <span class='terms'>Privacy Policy</span> and <span class='terms'>Game Zone Terms and Conditions</span> and <span class='terms'>Privacy Policy</span>
    </div>
    <div class='text-div'>
      All purchases must be authorized by the account holder. Charges will appear on your wireless phone bill. You must be 18 years of age or older or have parental permission to purchase. Your subscription will automatically renew until cancelled. Message and Data Rates May Apply. Call 1-567-244-0171 for customer support.
    </div>
  </div>
</div>
