<div class="container">
    <div class="inner-container">
        <div class="section">
        <span class="bold">Forms created with Feedback Analytics, exist out of questions. There are many different question types, here are all the question types listed below.</span>
        </div>

        <div class="section">You'll find all the questions in the dashboard. To get there, log in to your account.
            If you dont have a free account yet <a href="/help-center/getting-started/create-account" target="_blank">Here is how to set one up.</a>  </div>

        <div class="section">Log in to your account, and you'll land on the dashboard. To display all the question types, hit the <span class="bold bigger">+</span> button.</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/question-types/slider.JPG"></div></div>

        <div class="section">When you want to give freedom in the answer, <span class="bold">Open Questions</span> are ideal. You can ask the question and leave a small hint to guide people in the right direction.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/question-types/open%20question.JPG"></div></div>

        <div class="section">When you want to say something, but don't need an answer, the <span class="bold">Comments</span> are what you need. Add a quote,
            a statement or another message for people to read. Comments can also be used as transition to the following questions. </div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/question-types/comment.JPG"></div></div>


        <div class="section">For emails we have the <span class="bold">Email Question</span> type. These have build in email verification, so it only accepts correctly formatted email addresses.
            If people fill in a wrong format, they will see a warning text and can try again.</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/question-types/email.JPG"></div></div>


        <div class="section">Also for <span class="bold">Phone Numbers</span> we have a question type with build in verification. </div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/question-types/phone.JPG"></div></div>

        <div class="section">One of the most used question types is the <span class="bold">Multiple choice</span>. Use this if you want to offer a range of answers to a question.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/question-types/mc1.JPG"></div></div>
        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/question-types/mc2.JPG"></div></div>

        <div class="section"><span class="bold">Yes/no questions</span> are questions are that can be answered with only a yes or a no.</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/question-types/yesno.JPG"></div></div>

        <div class="section"><span class="bold">Number questions</span> only accept numbers as an answer. Great for asking ages, quantities or anything numerical.
            You can also select the ranges of answer possibilities. For example between -10 and 20.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/question-types/number.JPG"></div></div>

        <div class="section">For the <span class="bold">Rating Question</span> we have three different types. We have <span class="bold">star, color and emoji rating</span>. For each you can select the ranges yourself.
            So if you want a rating with 3, 5 or 10 choices, it's all possible. </div>
        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/question-types/star2.png"></div></div>
        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/question-types/color2.png"></div></div>
        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/question-types/emoji2.png"></div></div>

        <div class="section"> The <span class="bold">slider tool</span> works just like the number question tool, it's easier to visualise the number you select, since you can see it proportionally to its range.
            You can select the minimum and maximum number of the slider question. Its also possible to select negative numbers.</div>


        <div class="section"><div class="image"><img src="/assets/img/help-center/question-types/sliderquestion.JPG"></div></div>


    </div>
</div>
