<div class="container">
    <div class="inner-container">
        <div class="section">
            <span class="bold">Feedback Analytics forms are responsive. This means that information gathered in a previous question, can be used in another.
                If this is not fully clear yet, there will be an example in this document.</span>
        </div>

        <div class="section">To add <span class="bold">recall information</span> you should now how to create a form with Feedback Analytics.
            If you dont know yet how to do this, <a href="/help-center/getting-started/my-first-form" target="_blank">This place is where you should be.</a>  </div>

        <div class="section">Recall information can be used on <span class="bold">Open questions, Multiple Choice questions, and number questions</span>. In this document we will set up a simple example with all of them</div>

        <div class="section">We have created a form with a Open question and a Multiple Choice question</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/recallinformation/example1.JPG"></div></div>

        <div class="section">For this example we add a new number question to the form, However this could be any other question type.</div>

        <div class="section">We want to know the quantity of fruit that has been bought, but at the same time we want to have a <span class="bold">interactive form.</span></div>

        <div class="section">We want the question to be in the following structure: how many <span class="bold">[fruit]</span> did <span class="bold">[name]</span> buy?</div>

        <div class="section">Have the cursor on the place you want the recalled information and click on the <span class="bold bigger">+</span> icon</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/recallinformation/clickplus.JPG"></div></div>

        <div class="section">A dropdown window pops up. Select the question where you want the answer from. In this case we want question 2, the fruit. </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/recallinformation/clickplus2.JPG"></div></div>

        <div class="section">Afterwards we do the same for the name. </div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/recallinformation/recall.JPG"></div></div>

        <div class="section">You can make this as easy or complicated as you want. When you <span class="bold">combine recall information with logic jumps</span>, keep in mind that
            recalled questions <span class="bold">need</span> to be answered to appear, else they will leave a blank.
        </div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/recallinformation/example2.JPG"></div></div>



    </div>
</div>
