<div class="main">
    <div *ngIf="image" class="image-container">
        <img *ngIf="image" class="image" src="{{imageLink}}" name="{{image?.hash}}"/>
    </div>
    <mat-card *ngIf="screen" class="flex-me" [ngStyle]="{'background': designForm.card} ">
        <div [ngStyle]="fontStyle().getStyles()">
            <mat-card-title [ngStyle]="{'color' : designForm.question} ">{{screen.title}}</mat-card-title>
            <mat-card-content [ngStyle]="{'color' : designForm.answer}">{{screen.body}}</mat-card-content>
            <a *ngIf="screen.link" [href]="screen.link.url" (click)="disable($event)" target="_blank">
                <button mat-raised-button [disabled]="disabled"
                        [ngStyle]="{'color' : designForm.question, 'background' : designForm.button}">
                    {{screen.link.button}}
                </button>
            </a>
        </div>
    </mat-card>
</div>

