<div class="container">
    <div class="inner-container">

        <div class="section">
            <span class="bold"> Feedback Analytics makes handling feedback a piece of cake. All our features are included in every subscription level. The subscriptions scale with company size. </span>
        </div>

        <div class="section">To create an account, click on the <span class="bold">LOGIN</span> button in the top right corner.</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/how-to-create-a-account/login.JPG"></div></div>

        <div class="section">On the next page, below the log in button, there is a text stating "sign up here". Click on that text to create an account.
            <a href="/register" target="_blank">Alternatively click here</a></div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/how-to-create-a-account/sign%20up.JPG"></div></div>

        <div class="section">Now you'll see the sign up page. Enter your email address and choose a password. You have to agree to our Terms and Conditions. Click the sign up button to continue. </div>

        <div class="section"><div class="bigImage"><img src="/assets/img/help-center/how-to-create-a-account/create%20account.JPG"></div></div>

        <div class="section">Open your email inbox, and you'll see an email from us. We're using the email address no-reply@feedback-analytics.com</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/how-to-create-a-account/email.JPG"></div></div>

        <div class="section">Verify your email address and Use the free plan or upgrade to a paid plan. <a href="/help-center/getting-started/my-first-form" target="_blank">Click here to learn how to create your first form.</a></div>
    </div>


</div>
