<div class="container">
    <div class="inner-container">

        <div class="section"><span class="bold">Your Feedback Analytics account includes a tool to create custom themes. These custom themes can be applied to your forms. </span></div>

        <div class="section">To create a custom design, you'll need a free Feedback Analytics account. <a href="/help-center/getting-started/create-account" target="_blank">Here is how to set one up.</a> </div>

        <div class="section">Log in to your account, and you'll land on the dashboard. Navigate to the <span class="bold">Design</span> tab in the top menu.</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/survey-design/design%20tab.JPG"></div></div>

        <div class="section">The left side of the page contains out of a list with all the customisable components. All changes in the design need to be manually saved with the <span class="bold"> save design </span> button below.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/survey-design/left%20side.JPG"></div></div>

        <div class="section"><span class="bold">Always save the design by clicking the save design button.</span></div>

        <div class="section">On the right side of the page there are two <span class="bold">example cards</span>. These show the selected design and all changes in real time.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/survey-design/right%20side.JPG"></div></div>

        <div class="section">To select another design, you click on  <span class="bold">Name</span>. After clicking, On the bottom of the page a drop-down menu appears. To <span class="bold">select another design</span> simply open this menu and select the preferred one.
        If you haven't created any designs yourself, this list will be empty.</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/survey-design/dropdown1.JPG"></div></div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/survey-design/dropdown2.JPG"></div></div>

        <div class="section">To <span class="bold">create a new design </span> click on the <span class="bold bigger">+</span> icon below the dropdown menu. A pop-up window will appear where you can give your custom design a name.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/survey-design/popup1.JPG"></div></div>

        <div class="section">To <span class="bold">delete an existing design</span>, select the page you want to delete in the dropdown menu. Now click on the <span class="bold bigger">-</span> icon below the dropdown menu. A Confirmation message will appear. Click on delete to proceed.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/survey-design/delete.JPG"></div></div>

        <div class="section">To <span class="bold">copy an existing design</span>, select the page you want to copy in the dropdown menu. Now click on the copy icon below the dropdown menu. A pop-up window will appear where you can give your copied design a name.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/survey-design/clone.JPG"></div></div>

        <div class="section">To get a design <span class="bold">back to default values</span>, select the page you want to refresh in the dropdown menu. Now click on the refresh icon below the dropdown menu. A pop-up window will appear where you can confirm the refresh. After clicking this the design will be back to its default values.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/survey-design/default.JPG"></div></div>


        <div class="section">To <span class="bold">change the name of an existing design</span> start typing in the name tab. Press the enter key or press somewhere on the screen to confirm the changes. </div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/survey-design/change%20name.JPG"></div></div>

        <div class="section">To <span class="bold">change the font type</span>  click on font. Now open the dropdown menu and select the preferred font.</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/survey-design/font.JPG"></div></div>


        <div class="section">The color of the fonts can be changed. <span class="bold">Questions</span> is the title of each question card and also the title of the start and end screen. Also the fontcolor of the button will change.
        These buttons are only on the open questions, start screen and end screen.</div>

        <div class="section">The font color of the provided <span class="bold">Answers</span> can be changed, this will also be the color of the extra text provided with some questions.</div>

        <div class="section">The color of the <span class="bold">Next Buttons</span>,
            question <span class="bold">Cards</span> and <span class="bold">Background</span> can be customised.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/survey-design/color.JPG"></div></div>

        <div class="section">Selecting a color can be done manually or you can fill in a HSL, Hex or RGB value.</div>









    </div>
</div>
