<mat-table [dataSource]="sorted" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="createdAt">
        <mat-header-cell mat-sort-header="createdAt" *matHeaderCellDef> Submission </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdAt | date:'medium'}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['createdAt']; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['createdAt'];" (click)="select(row.id)" [class.selected]="selectedRow(row.id)" matRipple></mat-row>
</mat-table>
