<div class="container">
    <div class="inner-container">

        <div class="section">
        <span class="bold">Welcome to Feedback Analytics! A great tool to collect data, handling feedback and much more!
            Information and customer appreciation are crucial aspects. We want to make this experience as easy and flexible as possible.</span>
        </div>

        <div class="section">To create a form, you'll need a (free) Feedback Analytics account. <a href="/help-center/getting-started/create-account" target="_blank">Here is how to set one up.</a> </div>

        <div class="section">Log in to your account, and you'll land on the dashboard. This is the place where all your Forms will be displayed. To create a new form hit the <span class="bold bigger">+</span> button.</div>


            <div class="section"><div class="image"><img src="/assets/img/help-center/my%20first%20form/dashboard.png"></div></div>


        <div class="section">A pop up window will appear, here we can choose a name for the new form we are creating. Let's call it "Test Form" for now.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/my%20first%20form/popup.png"></div></div>

        <div class="section">The newly created form is now visible in the dashboard. To start working on this form click on the Edit button.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/my%20first%20form/newform.png"></div></div>

        <div class="section">We've arrived on the builder page. Here we can add different questions to the form, a start screen, multiple end screens and customize the design.</div>

        <div class="section">To add a new question click the <span class="bold bigger">+</span> button on the the top right. This will slide out all the possible question options.</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/my%20first%20form/questions1.JPG"></div></div>

        <div class="section">turns into</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/my%20first%20form/questions2.JPG"></div></div>

        <div class="section">To add a question to the form, simply click on the type of question you want. Let's click on <span class="bold">Open Question</span> to start creating our sample form.
            When you're typing in your question on the right, you'll see a preview on the left.</div>

        <div class="section"><div class="bigImage"><img src="/assets/img/help-center/my%20first%20form/open%20question%201.JPG"></div></div>

        <div class="section">To move to the next question, click on the <span class="bold bigger">+</span> button. The question list will slide open again.
            Lets click on Multiple Choice, to add a new Multiple Choice question to the form.</div>


        <div class="section">You can add another Multiple Choice answer option by pressing enter after typing.
            For the tutorial I choose the title: "How did you find us?" and the choices Facebook, Instagram, Google and Word of mouth.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/my%20first%20form/mcquestion.JPG"></div></div>

        <div class="section">To use emoji, tap <span class="bold">WIN</span> + <span class="bold">.</span> on Windows or <span class="bold">CTRL</span> + <span class="bold">CMD</span> + <span class="bold">SPACE</span> on Mac to bring up a menu to choose from</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/my%20first%20form/emoji.png"></div></div>


        <div class="section">if you want to work on an already created question, you can reopen the question, simply by clicking on  the question again.</div>

        <div class="section">All questions are draggable. So changing the question order goes really easy. </div>

        <div class="section"><span class="bold">Your Feedback Analytics form is now ready to be shared!</span></div>

        <div class="section">Click on the <span class="bold">Test button</span>  if you want to test your form. This button is located on the right top side.
            When you're happy with the form and want to <span class="bold">publish</span> it click on the <span class="bold">< button</span> on the left top side of the screen to go back.</div>

        <div class="section"><div class="smallImage"><img src="/assets/img/help-center/my%20first%20form/test.JPG"></div></div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/my%20first%20form/back.JPG"></div></div>

        <div class="section">Go to <span class="bold">Settings</span> in the left menu to create a custom sharable link. Creating a custom link is only needed the first time you use our software.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/my%20first%20form/settings.JPG"></div></div>

        <div class="section">Fill in your company name and change the share link to whatever you want. Note that share links are unique.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/my%20first%20form/sharelink.JPG"></div></div>

        <div class="section">Click on <span class="bold">Forms</span> in the left menu, to go back to the dashboard</div>

        <div class="section">Click on the <span class="bold">Publish Button</span> to publish the form.</div>

        <div class="section">Click on the <span class="bold">Share Button</span> to retrieve the shareable link and on analyze to see the incoming answers.</div>

        <div class="section"><div class="image"><img src="/assets/img/help-center/my%20first%20form/share.JPG"></div></div>

        <div class="section">You can now try your Feedback Analytics form with the retrieved link</div>

        <div class="section"><div class="bigImage"><img src="/assets/img/help-center/my%20first%20form/liveform.JPG"></div></div>

    </div>
</div>
